/* src/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root, html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    overscroll-behavior: none;
    position: fixed;
    margin: 0;
    padding: 0;
    touch-action: none;
}

body {
    background-color: #fff0f5;
    font-family: 'Inter', sans-serif;
}